.navbar.navbar-inverse.navbar-static-top
  .container
    .navbar-collapse
      ul.nav.navbar-nav
        li
          a(href="http://www.maxcdn.com")
            img.maxcdn(src='http://www.maxcdn.com/wp-content/themes/maxcdnv4/img/png/maxcdn-colored-logo.png')
        li
          a.twitter(href='#') &laquo; @jdorfman
      ul.nav.navbar-nav.navbar-right
        li
          a.twitter(href='#') @mervinej &raquo;
        li.yp-eng
          a(href="http://engineering.yp.com/")
            span
              img(src='http://engineering.yp.com/img/logo.png', height='40px')
              span Engineering

