body, a, .navbar-brand {
  font-size: 175% !important
}
.navbar {
  margin-bottom: 0px !important;
}
pre {
  font-size: 175% !important;
  text-align: left;
  padding-left: 50px;
}
div.item > div.container {
  padding: 40px 70px;
}
.twitter {
  color: white !important;
  line-height: 110% !important;
}
img.maxcdn {
  margin-top: 5px !important;
}
img.yp {
  margin: -10px 0;
}
li.yp-eng {
  margin: 0px -5px -5px -5px !important;
}
li.yp-eng > a > span {
  padding: 5px !important;
}
li.yp-eng > a > span > span {
  color: #fff !important;
  font-size: 16pt !important;
}
table.slide {
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  font-size: 150%;
  color: white;
}

