.item.active
  .container
    //- content
    pre BootstrapCDN.title
    br
    table.slide
      tr
        td
          center
            br
            img(src='images/slide-1-title.jpg', style='margin: -25px auto 0px')


    //-caption
    //-.carousel-caption
