.item
  .container
    //- content
    pre BootstrapCDN.stack({ version: 2 }).whyNode
    br
    table.slide
      tr
        td
          center
            h1 Know what you're supporting.
            img(src='images/yp.jpg', style='margin: -10px auto 0px')
