.item
  .container
    //- content
    pre BootstrapCDN.stack({ version: 2 }).host
    br
    table.slide
      tr
        td
          center
            h1 [ Digital Ocean Slide ]
            //-img(src='images/digital_ocean.jpg', style='margin: -10px auto 0px')
