.item
  .container
    //- content
    pre BootstrapCDN.stack({ version: 2 }).init
    br
    table.slide
      tr
        td
          = "$ git clone https://github.com/MaxCDN/bootstrap-cdn.git"
          br
          = "$ cd bootstrap-cdn"
          br
          = "$ make setup"
          br
          = "$ make run"
          br
          //-center
            //-img(src='images/makestart.png', style='margin: -10px auto 0px')
