.item
  .container
    //- content
    pre BootstrapCDN.stack({ version: 2 }).update
    br
    table.slide
      tr
        td
          = "$ git pull"
          br
          = "$ make restart"
          br
          br
          center
            img(src='/images/makerestart.png', style='margin: -10px auto 0px')
