.item
  .container
    //- content
    pre
      | BootstrapCDN.questions.forEach(function(q) {
      |   return a;
      | });
      | /********************************************
      |  * Too far? I thought so.
      |  ********************************************/
    br
