.item
  .container
    //- content
    pre "We're Hiring"
    br
    table.slide
      tr
        td
          h1 MaxCDN
          h3 jdorfman@maxcdn.com
        td
          h1 YP.com
          h3 jmervine@yp.com
    hr(style='width: 75%')
    br
    table.slide
      tr
        td(style='width: 20%')
          center
            img(src='images/slides-qr-code.png', width='175px')
        td(style='width: 80%;padding-left:40px', valign='top')
          h2(style='color:white') These Slides
          a(href='http://jmervine.github.io/lado_slides', style='font-size:100% !important') jmervine.github.io/lado_slides
