.item
  .container
    //- content
    pre BootstrapCDN.whois
    br
    table.slide
      tr
        td
          h1 Justin Dorfman
          ul
            li Developer Advocate
            li MaxCDN.com
            li DTLA
            li Bash
            li Bowler
        td
          h1 Joshua Mervine
          ul
            li Director DevOps
            li YP.com
            li Glendale
            li "bits is bits"
            li Dad
