.item
  .container
    //- content
    pre BootstrapCDN.history
    br
    table.slide
      tr
        td
          ol
            li Domain registered; May 25th 2012
            li Launched; July  5th 2012
            li @TwitterOSS endorsed; July 30th 2012
            li First month over 1 TB; November 30th 2012
            li Topped 100mm requests per/mo; December 31st 2012
    br
    center
      h4
        a(href='http://www.bootstrapcdn.com/extras/birthday') www.bootstrapcdn.com/extras/birthday
