.item
  .container
    //- content
    pre
      | BootstrapCDN.metrics.sites
      | 48,019
    pre
      | BootstrapCDN.metrics.requests.per
      | { day    : '81 million',
      |   second : '1 thousand' }
    pre
      | BootstrapCDN.metrics.bandwidth.per
      | { day    : '1.3 TB',
      |   second : '15 MB' }

