.item
  .container
    //- content
    pre BootstrapCDN.plot.load('analytics.dat')
    br
    table.slide
      tr
        td
          center
            img(src='images/slide-6-plot.png', style='margin: -25px auto 0px')

