.item
  .container
    //- content
    pre BootstrapCDN.stack({ version: 1 })
    br
    table.slide
      tr
        td
          center
            h1 [stack 1 img]
            //-img(src='/images/stack1.png', style='margin: -10px auto 0px')

