.item
  .container
    //- content
    pre BootstrapCDN.stack({ version: 1 })
    br
    table.slide
      tr
        td
          center
            br
            img(src='images/stack-v1.png', style='margin: -10px auto 0px')

