.item
  .container
    //- content
    pre BootstrapCDN.stack({ version: 2 })
    br
    table.slide
      tr
        td
          center
            img(src='images/stack-v2.png', style='margin: -10px auto 0px')

