.item
  .container
    //- content
    pre BootstrapCDN.stack({ version: 2 })
    br
    table.slide
      tr
        td
          center
            h1 [stack 2 img]
            //-img(src='/images/stack2.png', style='margin: -10px auto 0px')

