.item
  .container
    //- content
    pre BootstrapCDN.stack({ version: 2 }).whyNode
    br
    table.slide
      tr
        td
          center
            img(src='images/javascript_the_evil_parts.png', height='350px', style='margin: -10px auto 0px')
