.item
  .container
    //- content
    pre BootstrapCDN.stack({ version: 2 }).ci
    br
    table.slide
      tr
        td
          a(href='https://travis-ci.org/MaxCDN/bootstrap-cdn', style='font-size: 125%') Travis-CI
          br
          br
      tr
        td
          center
            a(href='https://github.com/nvie/gitflow', style='font-size: 125%') &raquo; git flow (ish)
            br
            br
      tr
        td(align='right')
          a(href='https://github.com/jmervine/node-git-fish', style='font-size: 125%') &raquo; node-git-fish

